<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1631</real>
		<key>thumbFrame</key>
		<real>1648</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1733</real>
		<key>thumbFrame</key>
		<real>1733</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>256</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2468</real>
		<key>thumbFrame</key>
		<real>2484</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>416</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3528</real>
		<key>thumbFrame</key>
		<real>3546</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>368</real>
		<key>y</key>
		<real>128</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3706</real>
		<key>thumbFrame</key>
		<real>3703</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>400</real>
	</dict>
</array>
</plist>
