<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1155</real>
		<key>thumbFrame</key>
		<real>1154</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>400</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1163</real>
		<key>thumbFrame</key>
		<real>1160</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1165</real>
		<key>thumbFrame</key>
		<real>1163</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1175</real>
		<key>thumbFrame</key>
		<real>1173</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>272</real>
	</dict>
	<dict>
		<key>height</key>
		<real>191</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1272</real>
		<key>thumbFrame</key>
		<real>1270</real>
		<key>width</key>
		<real>207</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>239</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1275</real>
		<key>thumbFrame</key>
		<real>1279</real>
		<key>width</key>
		<real>239</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1364</real>
		<key>thumbFrame</key>
		<real>1365</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>159</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1467</real>
		<key>thumbFrame</key>
		<real>1467</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1473</real>
		<key>thumbFrame</key>
		<real>1471</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>304</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1477</real>
		<key>thumbFrame</key>
		<real>1476</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1661</real>
		<key>thumbFrame</key>
		<real>1659</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>448</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2320</real>
		<key>thumbFrame</key>
		<real>2318</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2377</real>
		<key>thumbFrame</key>
		<real>2375</real>
		<key>width</key>
		<real>239</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>256</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2385</real>
		<key>thumbFrame</key>
		<real>2384</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2451</real>
		<key>thumbFrame</key>
		<real>2453</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>223</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2461</real>
		<key>thumbFrame</key>
		<real>2461</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2467</real>
		<key>thumbFrame</key>
		<real>2466</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2472</real>
		<key>thumbFrame</key>
		<real>2471</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>192</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>4148</real>
		<key>thumbFrame</key>
		<real>4150</real>
		<key>width</key>
		<real>143</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>352</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>4276</real>
		<key>thumbFrame</key>
		<real>4273</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>4278</real>
		<key>thumbFrame</key>
		<real>4275</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>416</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>4280</real>
		<key>thumbFrame</key>
		<real>4277</real>
		<key>width</key>
		<real>239</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>4282</real>
		<key>thumbFrame</key>
		<real>4280</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>4286</real>
		<key>thumbFrame</key>
		<real>4297</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>4366</real>
		<key>thumbFrame</key>
		<real>4366</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>416</real>
	</dict>
</array>
</plist>
