<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>327</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>550.5</real>
		<key>thumbFrame</key>
		<real>558.5</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>335</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>731</real>
		<key>thumbFrame</key>
		<real>750.5</real>
		<key>width</key>
		<real>543</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>359</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>830</real>
		<key>thumbFrame</key>
		<real>840</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>319</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>902.5</real>
		<key>thumbFrame</key>
		<real>917</real>
		<key>width</key>
		<real>567</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>40</real>
	</dict>
	<dict>
		<key>height</key>
		<real>335</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2074</real>
		<key>thumbFrame</key>
		<real>2082</real>
		<key>width</key>
		<real>567</real>
		<key>x</key>
		<real>72</real>
		<key>y</key>
		<real>24</real>
	</dict>
	<dict>
		<key>height</key>
		<real>351</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2227.5</real>
		<key>thumbFrame</key>
		<real>2241.5</real>
		<key>width</key>
		<real>599</real>
		<key>x</key>
		<real>40</real>
		<key>y</key>
		<real>8</real>
	</dict>
	<dict>
		<key>height</key>
		<real>199</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2444.5</real>
		<key>thumbFrame</key>
		<real>2451.5</real>
		<key>width</key>
		<real>463</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>104</real>
	</dict>
	<dict>
		<key>height</key>
		<real>335</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2518.5</real>
		<key>thumbFrame</key>
		<real>2522</real>
		<key>width</key>
		<real>543</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>8</real>
	</dict>
	<dict>
		<key>height</key>
		<real>135</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2879</real>
		<key>thumbFrame</key>
		<real>2887</real>
		<key>width</key>
		<real>319</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>216</real>
	</dict>
	<dict>
		<key>height</key>
		<real>359</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>986</real>
		<key>thumbFrame</key>
		<real>993</real>
		<key>width</key>
		<real>583</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>239</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>306.5</real>
		<key>thumbFrame</key>
		<real>315</real>
		<key>width</key>
		<real>439</real>
		<key>x</key>
		<real>88</real>
		<key>y</key>
		<real>40</real>
	</dict>
	<dict>
		<key>height</key>
		<real>359</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>151.5</real>
		<key>thumbFrame</key>
		<real>161</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>239</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1238.5</real>
		<key>thumbFrame</key>
		<real>1248.5</real>
		<key>width</key>
		<real>367</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>104</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1289</real>
		<key>thumbFrame</key>
		<real>1304.5</real>
		<key>width</key>
		<real>31</real>
		<key>x</key>
		<real>336</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>215</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1357.5</real>
		<key>thumbFrame</key>
		<real>1365</real>
		<key>width</key>
		<real>375</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1399.5</real>
		<key>thumbFrame</key>
		<real>1410</real>
		<key>width</key>
		<real>543</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>359</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1451</real>
		<key>thumbFrame</key>
		<real>1462</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>215</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1600.5</real>
		<key>thumbFrame</key>
		<real>1616.5</real>
		<key>width</key>
		<real>415</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>359</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1678.5</real>
		<key>thumbFrame</key>
		<real>1687.5</real>
		<key>width</key>
		<real>559</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>207</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1887</real>
		<key>thumbFrame</key>
		<real>1891</real>
		<key>width</key>
		<real>415</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>136</real>
	</dict>
	<dict>
		<key>height</key>
		<real>335</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2005</real>
		<key>thumbFrame</key>
		<real>2010.5</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>24</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>459.5</real>
		<key>thumbFrame</key>
		<real>463.5</real>
		<key>width</key>
		<real>71</real>
		<key>x</key>
		<real>472</real>
		<key>y</key>
		<real>128</real>
	</dict>
</array>
</plist>
