<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>87</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1476</real>
		<key>thumbFrame</key>
		<real>1618</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>184</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1618</real>
		<key>thumbFrame</key>
		<real>1650</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>264</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1343</real>
		<key>thumbFrame</key>
		<real>1399</real>
		<key>width</key>
		<real>55</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>256</real>
	</dict>
	<dict>
		<key>height</key>
		<real>87</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1409</real>
		<key>thumbFrame</key>
		<real>1443</real>
		<key>width</key>
		<real>399</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>87</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1507</real>
		<key>thumbFrame</key>
		<real>1594</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>184</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1594</real>
		<key>thumbFrame</key>
		<real>1618</real>
		<key>width</key>
		<real>31</real>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>192</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1618</real>
		<key>thumbFrame</key>
		<real>1625</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1640</real>
		<key>thumbFrame</key>
		<real>1642</real>
		<key>width</key>
		<real>87</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>292</real>
		<key>thumbFrame</key>
		<real>314</real>
		<key>width</key>
		<real>23</real>
		<key>x</key>
		<real>24</real>
		<key>y</key>
		<real>200</real>
	</dict>
	<dict>
		<key>height</key>
		<real>159</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>706</real>
		<key>thumbFrame</key>
		<real>727</real>
		<key>width</key>
		<real>319</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>727</real>
		<key>thumbFrame</key>
		<real>741</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>72</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>910</real>
		<key>thumbFrame</key>
		<real>916</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>119</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>931</real>
		<key>thumbFrame</key>
		<real>948</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>208</real>
		<key>y</key>
		<real>56</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>948</real>
		<key>thumbFrame</key>
		<real>962</real>
		<key>width</key>
		<real>23</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>184</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1822</real>
		<key>thumbFrame</key>
		<real>1849</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>200</real>
		<key>y</key>
		<real>232</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2051</real>
		<key>thumbFrame</key>
		<real>2066</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>216</real>
	</dict>
</array>
</plist>
