<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>431</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>0.0</real>
		<key>thumbFrame</key>
		<real>151</real>
		<key>width</key>
		<real>399</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>303</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>157</real>
		<key>thumbFrame</key>
		<real>169</real>
		<key>width</key>
		<real>207</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>303</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>175</real>
		<key>thumbFrame</key>
		<real>380</real>
		<key>width</key>
		<real>495</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>223</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>386</real>
		<key>thumbFrame</key>
		<real>565</real>
		<key>width</key>
		<real>575</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>335</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>571</real>
		<key>thumbFrame</key>
		<real>928</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
</array>
</plist>
