<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>endFrame</key>
		<integer>154</integer>
		<key>height</key>
		<real>318.75</real>
		<key>kind</key>
		<string>annotation</string>
		<key>startFrame</key>
		<integer>139</integer>
		<key>thumbFrame</key>
		<integer>149</integer>
		<key>width</key>
		<real>567.5</real>
		<key>x</key>
		<real>555</real>
		<key>y</key>
		<real>77.5</real>
	</dict>
	<dict>
		<key>endFrame</key>
		<integer>57</integer>
		<key>height</key>
		<real>197.5</real>
		<key>kind</key>
		<string>annotation</string>
		<key>startFrame</key>
		<integer>42</integer>
		<key>thumbFrame</key>
		<integer>52</integer>
		<key>width</key>
		<real>380</real>
		<key>x</key>
		<real>535</real>
		<key>y</key>
		<real>236.25</real>
	</dict>
	<dict>
		<key>endFrame</key>
		<integer>240</integer>
		<key>height</key>
		<real>212.5</real>
		<key>kind</key>
		<string>annotation</string>
		<key>startFrame</key>
		<integer>225</integer>
		<key>thumbFrame</key>
		<integer>235</integer>
		<key>width</key>
		<real>333.75</real>
		<key>x</key>
		<real>456.25</real>
		<key>y</key>
		<real>63.75</real>
	</dict>
	<dict>
		<key>endFrame</key>
		<integer>278</integer>
		<key>height</key>
		<real>65</real>
		<key>kind</key>
		<string>annotation</string>
		<key>startFrame</key>
		<integer>263</integer>
		<key>thumbFrame</key>
		<integer>273</integer>
		<key>width</key>
		<real>332.5</real>
		<key>x</key>
		<real>678.75</real>
		<key>y</key>
		<real>271.25</real>
	</dict>
	<dict>
		<key>height</key>
		<real>287</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>359</real>
		<key>thumbFrame</key>
		<real>387</real>
		<key>width</key>
		<real>551</real>
		<key>x</key>
		<real>24</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>325</real>
		<key>thumbFrame</key>
		<real>343</real>
		<key>width</key>
		<real>183</real>
		<key>x</key>
		<real>40</real>
		<key>y</key>
		<real>320</real>
	</dict>
</array>
</plist>
