<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>174</real>
		<key>thumbFrame</key>
		<real>198</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>198</real>
		<key>thumbFrame</key>
		<real>213</real>
		<key>width</key>
		<real>367</real>
		<key>x</key>
		<real>56</real>
		<key>y</key>
		<real>192</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>339</real>
		<key>thumbFrame</key>
		<real>377</real>
		<key>width</key>
		<real>55</real>
		<key>x</key>
		<real>216</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>height</key>
		<real>55</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>377</real>
		<key>thumbFrame</key>
		<real>448</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>232</real>
	</dict>
	<dict>
		<key>height</key>
		<real>167</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>550</real>
		<key>thumbFrame</key>
		<real>578</real>
		<key>width</key>
		<real>215</real>
		<key>x</key>
		<real>152</real>
		<key>y</key>
		<real>152</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>870</real>
		<key>thumbFrame</key>
		<real>885</real>
		<key>width</key>
		<real>183</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>983</real>
		<key>thumbFrame</key>
		<real>1027</real>
		<key>width</key>
		<real>327</real>
		<key>x</key>
		<real>72</real>
		<key>y</key>
		<real>192</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1027</real>
		<key>thumbFrame</key>
		<real>1064</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>184</real>
	</dict>
	<dict>
		<key>height</key>
		<real>327</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1064</real>
		<key>thumbFrame</key>
		<real>1108</real>
		<key>width</key>
		<real>367</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>24</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1335</real>
		<key>thumbFrame</key>
		<real>1461</real>
		<key>width</key>
		<real>71</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>248</real>
	</dict>
	<dict>
		<key>height</key>
		<real>223</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1741</real>
		<key>thumbFrame</key>
		<real>1765</real>
		<key>width</key>
		<real>231</real>
		<key>x</key>
		<real>248</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>343</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1777</real>
		<key>thumbFrame</key>
		<real>1797</real>
		<key>width</key>
		<real>351</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>8</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1809</real>
		<key>thumbFrame</key>
		<real>1825</real>
		<key>width</key>
		<real>215</real>
		<key>x</key>
		<real>72</real>
		<key>y</key>
		<real>136</real>
	</dict>
	<dict>
		<key>height</key>
		<real>103</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1954</real>
		<key>thumbFrame</key>
		<real>2014</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2049</real>
		<key>thumbFrame</key>
		<real>2073</real>
		<key>width</key>
		<real>319</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>176</real>
	</dict>
</array>
</plist>
