<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>99</real>
		<key>thumbFrame</key>
		<real>104</real>
		<key>width</key>
		<real>39</real>
		<key>x</key>
		<real>184</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<dict>
		<key>height</key>
		<real>135</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>104</real>
		<key>thumbFrame</key>
		<real>116</real>
		<key>width</key>
		<real>271</real>
		<key>x</key>
		<real>200</real>
		<key>y</key>
		<real>224</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>170</real>
		<key>thumbFrame</key>
		<real>191</real>
		<key>width</key>
		<real>479</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>39</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>280</real>
		<key>thumbFrame</key>
		<real>290</real>
		<key>width</key>
		<real>31</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>304</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>351</real>
		<key>thumbFrame</key>
		<real>363</real>
		<key>width</key>
		<real>39</real>
		<key>x</key>
		<real>280</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>382</real>
		<key>thumbFrame</key>
		<real>391</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>327</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>403</real>
		<key>thumbFrame</key>
		<real>418</real>
		<key>width</key>
		<real>471</real>
		<key>x</key>
		<real>8</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>327</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>418</real>
		<key>thumbFrame</key>
		<real>431</real>
		<key>width</key>
		<real>303</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>431</real>
		<key>thumbFrame</key>
		<real>461</real>
		<key>width</key>
		<real>23</real>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>200</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>599</real>
		<key>thumbFrame</key>
		<real>609</real>
		<key>width</key>
		<real>423</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>87</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>609</real>
		<key>thumbFrame</key>
		<real>663</real>
		<key>width</key>
		<real>447</real>
		<key>x</key>
		<real>24</real>
		<key>y</key>
		<real>264</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>663</real>
		<key>thumbFrame</key>
		<real>669</real>
		<key>width</key>
		<real>39</real>
		<key>x</key>
		<real>8</real>
		<key>y</key>
		<real>232</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>751</real>
		<key>thumbFrame</key>
		<real>764</real>
		<key>width</key>
		<real>287</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>312</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>764</real>
		<key>thumbFrame</key>
		<real>774</real>
		<key>width</key>
		<real>151</real>
		<key>x</key>
		<real>312</real>
		<key>y</key>
		<real>328</real>
	</dict>
	<dict>
		<key>height</key>
		<real>55</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>870</real>
		<key>thumbFrame</key>
		<real>914</real>
		<key>width</key>
		<real>311</real>
		<key>x</key>
		<real>24</real>
		<key>y</key>
		<real>304</real>
	</dict>
	<dict>
		<key>height</key>
		<real>295</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>956</real>
		<key>thumbFrame</key>
		<real>975</real>
		<key>width</key>
		<real>447</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>327</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1025</real>
		<key>thumbFrame</key>
		<real>1038</real>
		<key>width</key>
		<real>479</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1038</real>
		<key>thumbFrame</key>
		<real>1046</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>39</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1125</real>
		<key>thumbFrame</key>
		<real>1133</real>
		<key>width</key>
		<real>55</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1133</real>
		<key>thumbFrame</key>
		<real>1140</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>432</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1318</real>
		<key>thumbFrame</key>
		<real>1388</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1469</real>
		<key>thumbFrame</key>
		<real>1500</real>
		<key>width</key>
		<real>39</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>328</real>
	</dict>
	<dict>
		<key>height</key>
		<real>55</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1500</real>
		<key>thumbFrame</key>
		<real>1512</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>400</real>
		<key>y</key>
		<real>184</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1512</real>
		<key>thumbFrame</key>
		<real>1536</real>
		<key>width</key>
		<real>55</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1605</real>
		<key>thumbFrame</key>
		<real>1650</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1650</real>
		<key>thumbFrame</key>
		<real>1696</real>
		<key>width</key>
		<real>71</real>
		<key>x</key>
		<real>8</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1696</real>
		<key>thumbFrame</key>
		<real>1719</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1846</real>
		<key>thumbFrame</key>
		<real>1880</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>328</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1973</real>
		<key>thumbFrame</key>
		<real>1987</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2023</real>
		<key>thumbFrame</key>
		<real>2029</real>
		<key>width</key>
		<real>359</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>280</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2231</real>
		<key>thumbFrame</key>
		<real>2295</real>
		<key>width</key>
		<real>39</real>
		<key>x</key>
		<real>24</real>
		<key>y</key>
		<real>280</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2407</real>
		<key>thumbFrame</key>
		<real>2420</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>72</real>
	</dict>
	<dict>
		<key>height</key>
		<real>231</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2420</real>
		<key>thumbFrame</key>
		<real>2500</real>
		<key>width</key>
		<real>479</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>128</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2500</real>
		<key>thumbFrame</key>
		<real>2506</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>248</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2506</real>
		<key>thumbFrame</key>
		<real>2578</real>
		<key>width</key>
		<real>31</real>
		<key>x</key>
		<real>56</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2649</real>
		<key>thumbFrame</key>
		<real>2670</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2676</real>
		<key>thumbFrame</key>
		<real>2684</real>
		<key>width</key>
		<real>71</real>
		<key>x</key>
		<real>368</real>
		<key>y</key>
		<real>336</real>
	</dict>
</array>
</plist>
