<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>167</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>190</real>
		<key>thumbFrame</key>
		<real>241</real>
		<key>width</key>
		<real>383</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>184</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>263</real>
		<key>thumbFrame</key>
		<real>297</real>
		<key>width</key>
		<real>71</real>
		<key>x</key>
		<real>232</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>362</real>
		<key>thumbFrame</key>
		<real>398</real>
		<key>width</key>
		<real>287</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>398</real>
		<key>thumbFrame</key>
		<real>429</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>720</real>
		<key>thumbFrame</key>
		<real>763</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>763</real>
		<key>thumbFrame</key>
		<real>822</real>
		<key>width</key>
		<real>247</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>232</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>888</real>
		<key>thumbFrame</key>
		<real>901</real>
		<key>width</key>
		<real>39</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>901</real>
		<key>thumbFrame</key>
		<real>929</real>
		<key>width</key>
		<real>375</real>
		<key>x</key>
		<real>104</real>
		<key>y</key>
		<real>312</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>951</real>
		<key>thumbFrame</key>
		<real>983</real>
		<key>width</key>
		<real>23</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1307</real>
		<key>thumbFrame</key>
		<real>1360</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1472</real>
		<key>thumbFrame</key>
		<real>1484</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>352</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1484</real>
		<key>thumbFrame</key>
		<real>1511</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>71</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1627</real>
		<key>thumbFrame</key>
		<real>1652</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>336</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1751</real>
		<key>thumbFrame</key>
		<real>1857</real>
		<key>width</key>
		<real>23</real>
		<key>x</key>
		<real>448</real>
		<key>y</key>
		<real>328</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1913</real>
		<key>thumbFrame</key>
		<real>1947</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>208</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2062</real>
		<key>thumbFrame</key>
		<real>2127</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2216</real>
		<key>thumbFrame</key>
		<real>2239</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>200</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2239</real>
		<key>thumbFrame</key>
		<real>2257</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2263</real>
		<key>thumbFrame</key>
		<real>2273</real>
		<key>width</key>
		<real>31</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2315</real>
		<key>thumbFrame</key>
		<real>2349</real>
		<key>width</key>
		<real>335</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2469</real>
		<key>thumbFrame</key>
		<real>2476</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>400</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>7</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2483</real>
		<key>thumbFrame</key>
		<real>2512</real>
		<key>width</key>
		<real>103</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2567</real>
		<key>thumbFrame</key>
		<real>2584</real>
		<key>width</key>
		<real>55</real>
		<key>x</key>
		<real>104</real>
		<key>y</key>
		<real>312</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2599</real>
		<key>thumbFrame</key>
		<real>2623</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>280</real>
		<key>y</key>
		<real>256</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2623</real>
		<key>thumbFrame</key>
		<real>2660</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>15</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2792</real>
		<key>thumbFrame</key>
		<real>2806</real>
		<key>width</key>
		<real>23</real>
		<key>x</key>
		<real>120</real>
		<key>y</key>
		<real>344</real>
	</dict>
</array>
</plist>
