<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>59</real>
		<key>thumbFrame</key>
		<real>81</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>296</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>121</real>
		<key>thumbFrame</key>
		<real>138</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>464</real>
		<key>y</key>
		<integer>360</integer>
	</dict>
	<dict>
		<key>height</key>
		<real>39</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>148</real>
		<key>thumbFrame</key>
		<real>193</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>400</real>
		<key>y</key>
		<real>392</real>
	</dict>
	<dict>
		<key>height</key>
		<real>423</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>193</real>
		<key>thumbFrame</key>
		<real>288</real>
		<key>width</key>
		<real>551</real>
		<key>x</key>
		<real>272</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>55</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>288</real>
		<key>thumbFrame</key>
		<real>299</real>
		<key>width</key>
		<real>15</real>
		<key>x</key>
		<real>608</real>
		<key>y</key>
		<real>368</real>
	</dict>
	<dict>
		<key>height</key>
		<real>191</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>323</real>
		<key>thumbFrame</key>
		<real>344</real>
		<key>width</key>
		<real>151</real>
		<key>x</key>
		<real>616</real>
		<key>y</key>
		<real>248</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>481</real>
		<key>thumbFrame</key>
		<real>575</real>
		<key>width</key>
		<real>103</real>
		<key>x</key>
		<real>296</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>797</real>
		<key>thumbFrame</key>
		<real>971</real>
		<key>width</key>
		<real>39</real>
		<key>x</key>
		<real>368</real>
		<key>y</key>
		<real>96</real>
	</dict>
</array>
</plist>
