<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<integer>176</integer>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>10</integer>
		<key>thumbFrame</key>
		<integer>72</integer>
		<key>width</key>
		<integer>192</integer>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>252</integer>
	</dict>
	<dict>
		<key>height</key>
		<real>431</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>140</integer>
		<key>thumbFrame</key>
		<real>149</real>
		<key>width</key>
		<real>399</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>303</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>155</real>
		<key>thumbFrame</key>
		<real>169</real>
		<key>width</key>
		<real>207</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>303</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>175</real>
		<key>thumbFrame</key>
		<real>380</real>
		<key>width</key>
		<real>495</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>223</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>386</real>
		<key>thumbFrame</key>
		<real>565</real>
		<key>width</key>
		<real>575</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<integer>174</integer>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>595</integer>
		<key>thumbFrame</key>
		<integer>690</integer>
		<key>width</key>
		<integer>260</integer>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<integer>235</integer>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>700</integer>
		<key>thumbFrame</key>
		<real>927</real>
		<key>width</key>
		<integer>334</integer>
		<key>x</key>
		<integer>329</integer>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>271</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>1004</integer>
		<key>thumbFrame</key>
		<real>1216</real>
		<key>width</key>
		<real>399</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1221</real>
		<key>thumbFrame</key>
		<real>1331</real>
		<key>width</key>
		<real>207</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>287</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1337</real>
		<key>thumbFrame</key>
		<real>1499</real>
		<key>width</key>
		<real>415</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<integer>91</integer>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1505</real>
		<key>thumbFrame</key>
		<real>1514</real>
		<key>width</key>
		<integer>168</integer>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>320</real>
	</dict>
	<dict>
		<key>height</key>
		<real>287</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1519</real>
		<key>thumbFrame</key>
		<real>1846</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<integer>68</integer>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1963</real>
		<key>thumbFrame</key>
		<real>1976</real>
		<key>width</key>
		<integer>218</integer>
		<key>x</key>
		<integer>138</integer>
		<key>y</key>
		<integer>182</integer>
	</dict>
	<dict>
		<key>height</key>
		<integer>60</integer>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>2040</integer>
		<key>thumbFrame</key>
		<real>2137</real>
		<key>width</key>
		<integer>179</integer>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2143</real>
		<key>thumbFrame</key>
		<real>2193</real>
		<key>width</key>
		<real>223</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>16</real>
	</dict>
</array>
</plist>
