<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>475</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>0</real>
		<key>thumbFrame</key>
		<real>310</real>
		<key>width</key>
		<real>991</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>height</key>
		<real>607</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>315</real>
		<key>thumbFrame</key>
		<real>634</real>
		<key>width</key>
		<real>1103</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>44</real>
	</dict>
</array>
</plist>
