<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>0.0</real>
		<key>thumbFrame</key>
		<real>2</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>7</real>
		<key>thumbFrame</key>
		<real>12</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>17</real>
		<key>thumbFrame</key>
		<real>78</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>85</real>
		<key>thumbFrame</key>
		<real>99</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>108</real>
		<key>thumbFrame</key>
		<real>173</real>
		<key>width</key>
		<real>159</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>180</real>
		<key>thumbFrame</key>
		<real>181</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>186</real>
		<key>thumbFrame</key>
		<real>192</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>197</real>
		<key>thumbFrame</key>
		<real>201</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>128</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>206</real>
		<key>thumbFrame</key>
		<real>211</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>216</real>
		<key>thumbFrame</key>
		<real>213</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>218</real>
		<key>thumbFrame</key>
		<real>223</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>230</real>
		<key>thumbFrame</key>
		<real>231</real>
		<key>width</key>
		<real>143</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>236</real>
		<key>thumbFrame</key>
		<real>298</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>307</real>
		<key>thumbFrame</key>
		<real>322</real>
		<key>width</key>
		<real>287</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>128</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>327</real>
		<key>thumbFrame</key>
		<real>428</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>438</real>
		<key>thumbFrame</key>
		<real>483</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>207</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>489</real>
		<key>thumbFrame</key>
		<real>490</real>
		<key>width</key>
		<real>287</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>495</real>
		<key>thumbFrame</key>
		<real>538</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>223</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>543</real>
		<key>thumbFrame</key>
		<real>597</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>603</real>
		<key>thumbFrame</key>
		<real>625</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>631</real>
		<key>thumbFrame</key>
		<real>660</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>239</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>666</real>
		<key>thumbFrame</key>
		<real>665</real>
		<key>width</key>
		<real>303</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>671</real>
		<key>thumbFrame</key>
		<real>690</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>695</real>
		<key>thumbFrame</key>
		<real>752</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>758</real>
		<key>thumbFrame</key>
		<real>766</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>771</real>
		<key>thumbFrame</key>
		<real>815</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>820</real>
		<key>thumbFrame</key>
		<real>836</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>841</real>
		<key>thumbFrame</key>
		<real>859</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>929</real>
		<key>thumbFrame</key>
		<real>1016</real>
		<key>width</key>
		<real>239</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1021</real>
		<key>thumbFrame</key>
		<real>1035</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1040</real>
		<key>thumbFrame</key>
		<real>1042</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1047</real>
		<key>thumbFrame</key>
		<real>1139</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1149</real>
		<key>thumbFrame</key>
		<real>1240</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>272</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1246</real>
		<key>thumbFrame</key>
		<real>1344</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>144</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1353</real>
		<key>thumbFrame</key>
		<real>1359</real>
		<key>width</key>
		<real>143</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1379</real>
		<key>thumbFrame</key>
		<real>1386</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>128</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1392</real>
		<key>thumbFrame</key>
		<real>1644</real>
		<key>width</key>
		<real>303</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1650</real>
		<key>thumbFrame</key>
		<real>1655</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1661</real>
		<key>thumbFrame</key>
		<real>1660</real>
		<key>width</key>
		<real>223</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>144</real>
	</dict>
</array>
</plist>
