<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>287</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>0.0</real>
		<key>thumbFrame</key>
		<real>224</real>
		<key>width</key>
		<real>399</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>230</real>
		<key>thumbFrame</key>
		<real>339</real>
		<key>width</key>
		<real>207</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>287</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>345</real>
		<key>thumbFrame</key>
		<real>507</real>
		<key>width</key>
		<real>415</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>513</real>
		<key>thumbFrame</key>
		<real>522</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>271</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>527</real>
		<key>thumbFrame</key>
		<real>855</real>
		<key>width</key>
		<real>639</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>879</real>
		<key>thumbFrame</key>
		<real>944</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>971</real>
		<key>thumbFrame</key>
		<real>984</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>272</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>383</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>990</real>
		<key>thumbFrame</key>
		<real>1145</real>
		<key>width</key>
		<real>543</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1151</real>
		<key>thumbFrame</key>
		<real>1201</real>
		<key>width</key>
		<real>223</real>
		<key>x</key>
		<real>0.0</real>
		<key>y</key>
		<real>0.0</real>
	</dict>
</array>
</plist>
