<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>0</real>
		<key>thumbFrame</key>
		<real>2</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>192</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>108</real>
		<key>thumbFrame</key>
		<real>173</real>
		<key>width</key>
		<real>159</real>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>186</real>
		<key>thumbFrame</key>
		<real>192</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>307</real>
		<key>thumbFrame</key>
		<real>322</real>
		<key>width</key>
		<real>287</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>128</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>327</real>
		<key>thumbFrame</key>
		<real>428</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>207</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>489</real>
		<key>thumbFrame</key>
		<real>490</real>
		<key>width</key>
		<real>287</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>495</real>
		<key>thumbFrame</key>
		<real>538</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>80</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>height</key>
		<real>239</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>666</real>
		<key>thumbFrame</key>
		<real>665</real>
		<key>width</key>
		<real>303</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>671</real>
		<key>thumbFrame</key>
		<real>690</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>695</real>
		<key>thumbFrame</key>
		<real>752</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>758</real>
		<key>thumbFrame</key>
		<real>766</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>771</real>
		<key>thumbFrame</key>
		<real>815</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>820</real>
		<key>thumbFrame</key>
		<real>836</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>841</real>
		<key>thumbFrame</key>
		<real>859</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>929</real>
		<key>thumbFrame</key>
		<real>1016</real>
		<key>width</key>
		<real>239</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1047</real>
		<key>thumbFrame</key>
		<real>1139</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1353</real>
		<key>thumbFrame</key>
		<real>1359</real>
		<key>width</key>
		<real>143</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>175</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1392</real>
		<key>thumbFrame</key>
		<real>1644</real>
		<key>width</key>
		<real>303</real>
		<key>x</key>
		<real>16</real>
		<key>y</key>
		<real>0</real>
	</dict>
</array>
</plist>
