<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>21</real>
		<key>thumbFrame</key>
		<real>53</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>256</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>62</real>
		<key>thumbFrame</key>
		<real>62</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>272</real>
		<key>y</key>
		<real>352</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>72</real>
		<key>thumbFrame</key>
		<real>74</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>304</real>
	</dict>
	<dict>
		<key>height</key>
		<real>271</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>102</real>
		<key>thumbFrame</key>
		<real>99</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>144</real>
		<key>thumbFrame</key>
		<real>141</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>192</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>158</real>
		<key>thumbFrame</key>
		<real>158</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>208</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>167</real>
		<key>thumbFrame</key>
		<real>167</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>336</real>
	</dict>
	<dict>
		<key>height</key>
		<real>335</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>639</real>
		<key>thumbFrame</key>
		<real>658</real>
		<key>width</key>
		<real>143</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1288</real>
		<key>thumbFrame</key>
		<real>1287</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1293</real>
		<key>thumbFrame</key>
		<real>1293</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>319</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1306</real>
		<key>thumbFrame</key>
		<real>1304</real>
		<key>width</key>
		<real>255</real>
		<key>x</key>
		<real>112</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1310</real>
		<key>thumbFrame</key>
		<real>1311</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1320</real>
		<key>thumbFrame</key>
		<real>1319</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>192</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1324</real>
		<key>thumbFrame</key>
		<real>1321</real>
		<key>width</key>
		<real>143</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>191</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1337</real>
		<key>thumbFrame</key>
		<real>1338</real>
		<key>width</key>
		<real>95</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1344</real>
		<key>thumbFrame</key>
		<real>1343</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>272</real>
		<key>y</key>
		<real>96</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1349</real>
		<key>thumbFrame</key>
		<real>1348</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>207</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1353</real>
		<key>thumbFrame</key>
		<real>1353</real>
		<key>width</key>
		<real>159</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1358</real>
		<key>thumbFrame</key>
		<real>1359</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>256</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1371</real>
		<key>thumbFrame</key>
		<real>1370</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>336</real>
		<key>y</key>
		<real>16</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1664</real>
		<key>thumbFrame</key>
		<real>1665</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1672</real>
		<key>thumbFrame</key>
		<real>1670</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>240</real>
		<key>y</key>
		<real>352</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1676</real>
		<key>thumbFrame</key>
		<real>1675</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>336</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1702</real>
		<key>thumbFrame</key>
		<real>1702</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1723</real>
		<key>thumbFrame</key>
		<real>1721</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>272</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1909</real>
		<key>thumbFrame</key>
		<real>1908</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>496</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>1914</real>
		<key>thumbFrame</key>
		<real>1913</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2113</real>
		<key>thumbFrame</key>
		<real>2116</real>
		<key>width</key>
		<real>191</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>height</key>
		<real>143</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2141</real>
		<key>thumbFrame</key>
		<real>2139</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>416</real>
		<key>y</key>
		<real>176</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2455</real>
		<key>thumbFrame</key>
		<real>2453</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>224</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>111</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2485</real>
		<key>thumbFrame</key>
		<real>2486</real>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>191</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>2509</real>
		<key>thumbFrame</key>
		<real>2509</real>
		<key>width</key>
		<real>239</real>
		<key>x</key>
		<real>176</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3060</real>
		<key>thumbFrame</key>
		<real>3058</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>496</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3063</real>
		<key>thumbFrame</key>
		<real>3060</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>448</real>
		<key>y</key>
		<real>256</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3066</real>
		<key>thumbFrame</key>
		<real>3075</real>
		<key>width</key>
		<real>47</real>
		<key>x</key>
		<real>416</real>
		<key>y</key>
		<real>192</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3084</real>
		<key>thumbFrame</key>
		<real>3081</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>400</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<dict>
		<key>height</key>
		<real>95</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3093</real>
		<key>thumbFrame</key>
		<real>3093</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<dict>
		<key>height</key>
		<real>79</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3099</real>
		<key>thumbFrame</key>
		<real>3098</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>432</real>
		<key>y</key>
		<real>144</real>
	</dict>
	<dict>
		<key>height</key>
		<real>239</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3104</real>
		<key>thumbFrame</key>
		<real>3109</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3114</real>
		<key>thumbFrame</key>
		<real>3112</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>464</real>
		<key>y</key>
		<real>224</real>
	</dict>
	<dict>
		<key>height</key>
		<real>63</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>3127</real>
		<key>thumbFrame</key>
		<real>3126</real>
		<key>width</key>
		<real>63</real>
		<key>x</key>
		<real>432</real>
		<key>y</key>
		<real>256</real>
	</dict>
</array>
</plist>
