<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>75</real>
		<key>thumbFrame</key>
		<real>95</real>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>141</real>
		<key>thumbFrame</key>
		<real>182</real>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>524</real>
		<key>thumbFrame</key>
		<real>542</real>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>542</real>
		<key>thumbFrame</key>
		<real>547</real>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>547</real>
		<key>thumbFrame</key>
		<real>578</real>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>748</real>
		<key>thumbFrame</key>
		<real>760</real>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>760</real>
		<key>thumbFrame</key>
		<integer>772</integer>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>797</integer>
		<key>thumbFrame</key>
		<integer>845</integer>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>887</real>
		<key>thumbFrame</key>
		<real>932</real>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<dict>
		<key>height</key>
		<real>720</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>937</integer>
		<key>thumbFrame</key>
		<integer>959</integer>
		<key>width</key>
		<real>1280</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
</array>
</plist>
