<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>75</real>
		<key>thumbFrame</key>
		<real>95</real>
		<key>width</key>
		<real>127</real>
		<key>x</key>
		<real>160</real>
		<key>y</key>
		<real>224</real>
	</dict>
	<dict>
		<key>height</key>
		<real>127</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>141</real>
		<key>thumbFrame</key>
		<real>182</real>
		<key>width</key>
		<real>207</real>
		<key>x</key>
		<real>320</real>
		<key>y</key>
		<real>240</real>
	</dict>
	<dict>
		<key>height</key>
		<real>31</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>524</real>
		<key>thumbFrame</key>
		<real>542</real>
		<key>width</key>
		<real>279</real>
		<key>x</key>
		<real>712</real>
		<key>y</key>
		<real>392</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>542</real>
		<key>thumbFrame</key>
		<real>547</real>
		<key>width</key>
		<real>55</real>
		<key>x</key>
		<real>976</real>
		<key>y</key>
		<real>392</real>
	</dict>
	<dict>
		<key>height</key>
		<real>151</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>547</real>
		<key>thumbFrame</key>
		<real>578</real>
		<key>width</key>
		<real>175</real>
		<key>x</key>
		<real>656</real>
		<key>y</key>
		<real>264</real>
	</dict>
	<dict>
		<key>height</key>
		<real>351</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>748</real>
		<key>thumbFrame</key>
		<real>760</real>
		<key>width</key>
		<real>1231</real>
		<key>x</key>
		<real>48</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>height</key>
		<real>71</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>760</real>
		<key>thumbFrame</key>
		<integer>772</integer>
		<key>width</key>
		<real>111</real>
		<key>x</key>
		<real>472</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>height</key>
		<real>23</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>797</integer>
		<key>thumbFrame</key>
		<integer>845</integer>
		<key>width</key>
		<integer>39</integer>
		<key>x</key>
		<real>568</real>
		<key>y</key>
		<real>256</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<real>887</real>
		<key>thumbFrame</key>
		<real>932</real>
		<key>width</key>
		<real>79</real>
		<key>x</key>
		<real>736</real>
		<key>y</key>
		<real>344</real>
	</dict>
	<dict>
		<key>height</key>
		<real>47</real>
		<key>kind</key>
		<string>content</string>
		<key>startFrame</key>
		<integer>937</integer>
		<key>thumbFrame</key>
		<integer>959</integer>
		<key>width</key>
		<real>103</real>
		<key>x</key>
		<real>848</real>
		<key>y</key>
		<real>352</real>
	</dict>
</array>
</plist>
